<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.novelshiveandroid">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Globals"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.LightTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".activities.MyStoriesActivity" />
        <activity android:name=".activities.AddChapterCommentActivity" />
        <activity android:name=".activities.ChapterCommentsActivity" />
        <activity android:name=".activities.StoryDetailsActivity" />
        <activity android:name=".activities.ReaderActivity" />
        <activity android:name=".activities.ProfileActivity" />
        <activity
            android:name=".activities.HomeActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SettingsActivity" />
        <activity android:name=".activities.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>